:root{
    --main-color: #323890;
    --black: #000;
    --white: #fff;
    --light-color: #868e96;
}

section{padding: 0;}
a{
    color: #333;
    text-decoration: none;
}
a:hover{text-decoration: none !important;}
ul{margin: 0; padding: 0;}
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h3{
    color: #123;
    font-size: 56px;
    line-height: 1.3;
    margin-bottom: 20px;
}
h3 b{font-size: 32px;}
h3 span{display: block;}
mark{
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
        to right,
        rgba(5, 0, 53, 0.1),
        rgba(17, 2, 228, 0.7) 4%,
        rgba(72, 63, 145, 0.433)
    );
    color: #fff;
    margin-right: .1rem;
}
#head_log{   
    width: 100%;
    height: 10px;
    position: relative;}
.header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo {color: #333;}
.header .logo span{color: var(--main-color);}

.container section h3{margin-bottom: 1.5rem;}

.pluswrap{padding: 40px 0;}
.pluswrap p{font-size: 18px;}
.pluswrap .slgan{
    color: #123;
    line-height: 28px;
    letter-spacing: 0;
}

.slogan{font-weight: bold;}

.container section:nth-child(1) {
    display: flex;
    margin-bottom: 60px;
    height: 20px;
}
.container section:nth-child(1) a{
    color: #555;
    font-size: 14px;
    line-height: 14px;
}
.container section:nth-child(1) a:hover{
    color: #123;
    font-weight: bold;
}
.container section:nth-child(1) span{
    margin: 0 15px;
    height: 20px;
    line-height: 20px;
}
.container section:nth-child(2) span{
    color: var(--main-color);
    display: inline;
}


/*---------------- about 영역-----------------*/

.aboutPlus{
    margin: 0 0;
    padding: 100px 0;
    overflow: hidden;
}

.aboutPlus .bgBox{
    width: 100%;
    height: 100%;
    min-height: 720px;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.aboutPlus .bgBox img{
    position: absolute;
    top: 25px;
    width: 150px;
}
.aboutPlus .bg_ap1{
    background: url(../images/img00.png) no-repeat center center;
    background-size: cover;
    margin-left: 6%;
}
.aboutPlus .bgBox img .bg_ap1 img{right: 25px;}
.textBox h3{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.aboutPlus .bg_ap2{
    background: url(../images/img01.png) no-repeat center center;
    background-size: unset;
    margin-right: -6%;
}
.aboutPlus .bgBox img .bg_ap2 img{left: 25px;}

.aboutPlus .bg_ap3{
    background: url(../images/img02.png) no-repeat center center;
    background-size: unset;
    margin-left: 6%;
}
.aboutPlus .bgBox img .bg_ap1 img{right: 25px;}

.aboutPlus .bg_ap4{
    background: url() no-repeat center center;
    background-size: cover;
    margin-right: -6%;
}
.aboutPlus .bgBox img .bg_ap2 img{left: 25px;}

.textBox {padding-top: 10%;}
.textBox h3{line-height: 1.5;}
.textBox p{
    color: #123;
    font-size: 18px;
    line-height: 2;
}
.textBox span{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}
.textBox ul{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}
.textBox li{
    font-size: 20px;
    list-style: circle;
    font-weight: bold;
    margin: 15px 0 10px 35px;
}
.textBox li small{
    color: #888;
    display: block;
}
.bfont .font{font-size: 16px; margin-top: 30px;}

.page-item{
    position: absolute;
    right: 16%;
}
.page-item .page-link{font-size: 24px;}
.page-item .page-link:hover{
    color: #fff;
    font-weight: bold;
    background-color: var(--main-color);
}
.pagination-lg{font-size: 24px;}

.footer{margin-top: 100px;}
@media all and (max-width:1024px) {
    .header{position: fixed;}
    .pluswrap{margin-top: 90px;}
    .aboutPlus .bgBox{min-height: 540px;}
    .aboutPlus{padding: 80px 0;}
    .bgBox{min-height: 540px;}
    .bg_ap1, .bg_ap3{margin-left: 0;} 
    .bg_ap2{margin-left: 0;} 
    .bg_ap4{margin-bottom: 80px;} 
    .textBox li{font-size: 14px;}
    .text_ap4 p{font-size: 16px}
    .header .icon{order: 2;}
    .header .logo{order: 1; margin-left:1.5%;}
    .header #user{display:block; order: 0; cursor: pointer;}
    .icon .btn{
        position: absolute;
        left: 8%;
    }
    html{font-size: 55%}
    .header{padding:2rem;}
    #menu_btn{display: inline-block;}
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 1rem;
        font-size: 2rem;
        color:#fff;
        text-align: center;
        width: 100%;
    }
    
    #head_log{display:none;}
    .textBox p{ font-size: 16px;}

    .aboutPlus .bg_ap2{
        background: url(../images/img01.png) no-repeat center 36%;
        background-size: unset;
        margin-right: -6%;
    }

    .aboutPlus .bg_ap3{
        background: url(../images/img02.png) no-repeat center 90%;
        background-size: unset;
        margin-left: 6%;
    }
    .page-item{right: 50%;}
    .container section:nth-child(2) h3{text-align: center;}
    .textBox li{font-size: 18px;}
}










