@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');

:root{
    --main-color: #323890;
    --black: #000;
    --white: #fff;
    --light-color: #868e96;
}

/*
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

::selection{
    background: var(--main-color);
    color:#fff;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section{padding: 3rem 9%;}

.heading{
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color:var(--black);
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    color: var(--main-color);
}

/*------------------------------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.5);
    box-shadow: 0rem .1rem .5rem rgba(0,0,0,.1);
    z-index:10000;
}

#head_log{
    width: 100%;
    height: 25px;
    position: relative;
}   
#head_log a{
    height: 25px;
    line-height: 25px;
    display: inline;
    position: absolute;
    top: -0.3rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: #123;
}
#head_log a:nth-child(1){right:1rem;}
#head_log a:nth-child(2){
    right: 6rem;
    margin-right: 2%;
}
#head_log a:visited{color:#123;}
#head_log a:hover{
    font-weight: bold;
    color:var(--main-color);
}

.header .logo{
    font-size: 3rem;
    color: #123;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header .logo span{
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 3rem;
}

.header .navbar a{
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    margin: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.header .navbar a:hover{
    color: var(--main-color); 
    font-size: 2.1rem;
    font-weight: 800;
}

.header .icon{
    display: flex;
    flex-wrap: nowrap;
}

.header .icon div{
    font-size: 2.5rem;
    color: #222;
    padding: .5rem;
    cursor:pointer;
    margin-left: 1rem;
}

.header .icon div:hover{
    color: var(--main-color);
}

.header .icon a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color:#fff;
    background: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}

.header .icon a:hover{
    color: var(--main-color);
    background: #fff;
}

#menu_btn, #user{
    display: none;
}
.user_icon{display: none;}

/*----------------------header end---------------------*/

.home{padding: 0%;}
.home .home_slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}
.home .home_slider .box .content{
    text-align: center;
    max-width: 70rem;
}
.home .home_slider .box .content h3{
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    /*transition-delay: .2s;*/
}
.home .home_slider .box .content p{
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
    /*transition-delay: .4s;*/
}

/*----------------------home end---------------------*/

.feature .feature_slider{padding-bottom: 4rem;}

.feature .feature_slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
}
.feature .feature_slider .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;
}

.feature .feature_slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature .feature_slider .box:hover .image img{
    transform: scale(1.1);
    filter: brightness(.6);
}

.feature .feature_slider .box .content{
    padding: 1rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}

.feature .feature_slider .box .content h3{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    /* background: rgba(0,0,0,.3); */
    padding: .2rem;
    margin-top: .5rem;
}

.feature .feature_slider .box .content .price{
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background: none;
    border: .3rem solid #fff;
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.feature .feature_slider .box:hover .content .price{
    background: var(--main-color);
    cursor: pointer;
}
/*----------------------feature end---------------------*/

.schedule{background: #eee;}
.schedule .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.schedule .box_container .box{background: #fff;}

.schedule .box_container .box .content{
    padding: 2rem;
    margin-bottom: 8%;
}

.schedule .box_container .box .icons span{
    display: block;
    position: absolute;
    font-size: 1.5rem;
    color: #333;
    padding: .5rem 2rem;
}
.schedule .box_container .box .icons span:nth-child(1){top: 45%;}
.schedule .box_container .box .icons span:nth-child(2){top: 60%;}
.schedule .box_container .box .icons span:nth-child(2) i{
    width:30px;
}
.icons i{
    margin-right: 2rem;
    color:var(--main-color);
}
.schedule .box_container .box .content h3{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

.schedule .box_container .box .content p{
    color: #333;
    font-size: 1.3rem;
    line-height: 1.8;
    word-break: break-all;

}

.schedule .box_container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.schedule .box_container #box{
    position: relative;
    height: 47.57vh;
}
.schedule_btn:hover{
    background: #fff;
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
}
.schedule_btn{
    margin: 2.2rem 1rem 1rem 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--main-color);
    font-weight: 500;
    cursor: pointer;
    color:var(--white);
    font-size: 1.7rem;
    position: absolute;
    right: 3%;
    top: 76%;
}
.box_scale{overflow: hidden;}
.box_container .box:nth-child(2) img:hover,
.box_container .box:nth-child(4) img:hover,
.box_container .box:nth-child(5) img:hover,
.box_container .box:nth-child(7) img:hover{transform: scale(1.1);}



/*----------------------schedule end---------------------*/

.trainers .trainers_slider{padding-bottom: 4rem;}

.trainers .trainers_slider .box{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0;
}

.trainers .trainers_slider .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;
}

.trainers .trainers_slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trainers .trainers_slider #img{
    height: auto;
    width: 100%;
}

.trainers .trainers_slider .box .name{
    padding: 2rem 0;
}

.trainers .trainers_slider .box .name h1{
    font-size: 3rem;
    color: 222;
    font-weight: 600;
}

.trainers .trainers_slider .box .name p{
    font-size: 1.8rem;
    color: #808080;
}
/*----------------------trainers end---------------------*/
.testimonial{background: rgb(238, 238, 238);}

.testimonial .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 7rem 0;
}

.testimonial .box_container .box{
    padding: 2rem;
    position: relative;
    text-align: center;
    background: #fafafa;
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    cursor: pointer;
}

.testimonial .box_container .box:hover{
    transform: translateY(-5%);
    transition: .3s linear;
    background: #fff;
    border: .2rem solid var(--main-color);
}

.testimonial .box_container .box .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.testimonial .box_container .box .image img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -6rem;
}

.testimonial .box_container .box .name{
    padding: 1rem 0;
}

.testimonial .box_container .box .name h1{
    font-size: 2rem;
    color: var(--black);
}

.testimonial .box_container .box .name p{
    color: #222;
    font-size: 1.3rem;
}

.testimonial .box_container .box .name p span{
    text-transform: none;
}

.testimonial .box_container .box p{
    font-size: 1.5rem;
    color: #333;
    font-weight: 400;
    line-height: 1.8;
}
/*----------------------testimonial end---------------------*/

.footer{ background: #808080;}

.footer .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1.5rem;
}

.footer .box_container .box{padding: 2rem;}

.footer .box_container .box h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1rem;
}

.footer .box_container .box .text{
    color: #eee;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 1rem;
}

.footer .box_container .box .icon{padding: 1rem 0;}

.footer .box_container .box .icon a i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    margin: .5rem;
    color:#fff;
}

.footer .box_container .box .icon a i:hover{
    color: var(--main-color);
    background: #fff;
    border: .2rem solid var(--main-color);
}

.footer .box_container .box .icons a{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.footer .box_container .box .icons a i{
    margin-right: 1rem;
    color: var(--main-color);
}

.footer .box_container .box .icons a:hover i{
    margin-right: 2rem;
    color: #fff;
}

.footer .box_container .box .icons a:hover{
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.6rem;
}

.footer .credit{
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid #f1f1f1;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.footer .credit span{
    color:var(--main-color);
    font-weight: bold;
}
















/*? 1024px display size */
@media all and (max-width:1024px){
    .header .icon{order: 2;}
    .header .logo{order: 1; margin-left:1.5%;}
    .header #user{display:block; order: 0; cursor: pointer;}
    .icon .btn{
        position: absolute;
        left: 8%;
    }
    html{font-size: 55%}
    .header{padding:2rem;}
    #menu_btn{display: inline-block;}
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
        color:#fff;
        text-align: center;
    }
    
    #head_log{display:none;}
    .feature .feature_slider .box .content h3{
        padding: 1rem;
    }

    .feature .feature_slider .box{
        margin: .5rem 0;
        height: 100%;
    }
    .feature .feature_slider .box .image{
        height: 40rem;
        width: 100%;
        overflow: hidden;
    }

    .feature .feature_slider .box .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .trainers .trainers_slider .box .image{
        height: 35rem;
        width: 100%;
        overflow: hidden;
    }

    .schedule .box_container #box{
        position: relative;
        height: 47.57vh;
    }
    .schedule .box_container #box .schedule_btn{
        position: absolute;
        right: 1%;
        top: 79%;
    }
    .schedule .box_container .box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .testimonial .box_container{
        padding: 1rem 0;
    }
    .testimonial .box_container .box{
        margin-top: 5rem;
    }

    .testimonial .box_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(65rem, 1fr));
        padding: 7rem 0;
    }

    .footer .box_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
    }

    .schedule .box_container .box .icons span:nth-child(1){top: 50%;}
    .schedule .box_container .box .icons span:nth-child(2){top: 62%;}
    .schedule .box_container{
        grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
    }
    .box_container .box:nth-child(1){order:1;}
    .box_container .box:nth-child(2){order:0;}
    .box_container .box:nth-child(4){order:3;}
    .box_container .box:nth-child(3){order:2;}
    .box_container .box:nth-child(5){order:4;}
    .box_container .box:nth-child(6){order:5;}
    .box_container .box:nth-child(8){order:6;}
    .box_container .box:nth-child(7){order:7;}

    .user_icon{display: block;}

    #user{color: #123;}
    #user:hover{color: var(--main-color);}










}